@font-face {
  font-family: cosCulture;
  src: url(./assets/fonts/cosplayCulture/cosplayCulture.ttf);
}

@font-face {
  font-family: lineNexa;
  src: url(./assets/fonts/lineNexa/lineNexa.ttf);
}

:root {
  --bg-color-primary: #f3f3f3;
  --bg-color-secondary: #131a22;

  --text-color-primary: #cfcfcf;
  --text-color-secondary: #13152c;
  
  --accent-color: #16305e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-primary);
  overflow-x: hidden;
  height: 700px;
}

main {
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
  padding: 0 80px;
}